@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* header */
.header {
    background-color: #AC3B61;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header p {
    font-size: 2rem;
    color: white;
}

.middle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* side menu */
.side-menu {
    background-color: #BAB2B5;
    width: 15vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.side-menu > * {
    margin: .5rem;
    padding: .5rem;
    font-size: 1.5rem;
    background-color: #EDC7B7;
    width: 15vw;
    text-align: center;
}

/* main content */
.main-content {
    background-color: #EEE2DC;
    width: 85vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-content-form > * {
    padding: .5rem;
    margin: 1rem;
    font-size: 1.2rem;
    border: 2px solid black;
}

.main-content-form button {
    background-color: #EDC7B7;
}

/* footer */
.footer {
    background-color: #123C69;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    font-size: 1.5rem;
    color: white;
}